# Arquivos objeto e executáveis
build/

# Arquivos pessoais e temporários
spec/
inputs/
outputs/
notes/
.vscode/

# Documentação
docs/
Doxyfile

# A medida que o trabalho for evoluindo dá pra alterar alguma coisa que
# a gente queira adicionar/remover a mais do repositório e também subir
# os inputs/outputs esperados